language: python # => 1
python: # => 2
  - "3.7"
install: # => 5
  - pip install -r requirements.txt
  - python manage.py makemigrations
  - python manage.py migrate
script: # => 7
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py test