{% load bootstrap4 %}
{% bootstrap_css %}


<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

</nav>

    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <table style="width:100%">
                    <tr>
                        <th>Class Name</th>
                        <th>Semester</th>
                        <th>Year</th>
                        <th>Grade Letter</th>
                        <th>Numeric Grade</th>
                        <th>Grade</th>
                    </tr>
                    {% for class in object_list.all %}
                    <tr>
                        <th>{{ class.name }}</th>
                        <th>{{ class.semester }}</th>   
                        <th>{{ class.year }}</th>   
                        <th>{{ class.grade }}</th>
                        <th>{{ class.numeric_grade }}</th>
                        <th>{{ class.credit_hours }}</th>
                        <th>{{ class.id }} - <a href='{{ class.get_absolute_url }}'>{{ class.title }}</a> </th>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-primary" href="/gpa/create/">Add New Class</a>
                <div class="card">
                  <div class="card-body">
                    {% for grade in GPA %}
                      <li>{{ grade.calc }}</li>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4" style="padding-top:88px!important;">
            <!-- Copyright -->
            <div class="footer-copyright text-center ">© 2020 Copyright:
                <a href="https://github.com/simonmli"> Simon Li</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </header>

