{%extends "base.html"%}
{% block title %}GPA Calculator{% endblock title %} 

{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<form method="post">{% csrf_token %}
{% csrf_token %}

{% block main %}
    <header id=gpaheader>
        <h1>GPA Calculator</h1>
    </header>
        <div class="d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column">
                <form method="post">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    {% buttons %}
                    <button id = "gpabuttonsave" type="submit" class="btn btn-primary">Save</button>
                    {% endbuttons %}
                </form>
                <a class="btn btn-primary" href="/gpa/">See classes and GPA</a>
            </div>
        </div>

{% endblock main %}
