{% extends "base.html" %}

{% block main %}
<!-- Heading Row -->

<style>
	div.ex1 {
		
		height: 175px;
		overflow: auto;

	}
	#col-lg-4{
 
	}
</style>
<div class="col-lg-13">
<div class="col-lg-13 row align-items-center my-7">
	<div class="col-lg-6">
		<div>
			<div id="content">
        
				<div class="embed-responsive" style="padding-bottom:68.5%">
          <iframe class="embed-responsive-item" src="{% url 'todo:todoapp' %}" allowfullscreen></iframe>
        </div>
				
			</div>
		</div>
	</div>

	<!-- /.col-lg-8 -->
	<div class="col-lg-6 content" >
		<!-- 		<h1 class="font-weight-light">Weather App</h1> -->
		<div class="embed-responsive" style="padding-bottom:72.5%">
			<div>
			<iframe class="embed-responsive-item" src="{% url 'weather:dashapp' %}" allowfullscreen></iframe>
			</div>
			
		</div>
		<!-- <div class="col-lg-4" style="margin: auto;">
			<a class="btn btn-primary" href="{% url 'weather:index' %}" style="margin-top:5px">weather</a>
		</div> -->
		<!-- 		<div>
			<a class="btn btn-primary" href="{% url 'weather:index' %}" style="margin-top:5px">weather</a>
		</div> -->
	</div>
	<!-- /.col-md-4 -->

	<!-- /.row -->

	<!-- Call to Action Well -->
	<div style="background-color: #02203c; width:100%" class="card text-white  my-5 py-4 text-center">
		<div class="card-body">
			<p class="text-white m-0">Organize your life today! Get started with our to-do list and then check out our
				GPA Calculator or Calendar.</p>
		</div>
	</div>

	<!-- Content Row -->
	<div class="row" style="width:100%; margin:auto;" >
		<div class="col-lg-4 mb-5">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title">Need Help?</h2>
					<p class="card-text">Reach out to our customer service team</p>
				</div>
				<div class="card-footer">
					<a href="mailto:dashboard-devs@example.com" class="btn btn-primary btn-sm">Contact Us</a>
				</div>
			</div>
		</div>
		<!-- /.col-md-4 -->

		<div class="col-lg-4 mb-5">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title">GPA Calculator</h2>
					<p class="card-text">Stay on top of your grades.</p>
				</div>
				<div class="card-footer">
					<a href="/gpa" class="btn btn-primary btn-sm">Open</a>
				</div>
			</div>
		</div>
		<!-- /.col-md-4 -->
		<div class="col-lg-4 mb-5">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title">Calendar</h2>
					<p class="card-text">Use this calendar to plan ahead. </p>
				</div>
				<div class="card-footer">
					<a href="/dashboard/calendar" class="btn btn-primary btn-sm">Open</a>
				</div>
			</div>
		</div>
		<!-- /.col-md-4 -->

	</div>
</div>
</div>
<!-- /.row -->
<!-- /.container -->

{% endblock main %}