{% extends "base.html" %}

{% block main %}
<!-- Heading Row -->
<div class="row align-items-center my-5">
  <div class="col-lg-5">
		<h1 class="font-weight-light">To-Do</h1>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="{% url 'todoapp' %}" allowfullscreen></iframe>
		</div>
		<div>
			<a class="btn btn-primary" href="{% url 'todo' %}" style="margin-top:5px">weather</a>
		</div>
	</div>
<!-- /.col-lg-8 -->
<div class="col-lg-5">
  <h1 class="font-weight-light">Weather App</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{% url 'weather:dashapp' %}" allowfullscreen></iframe>
  </div>
  <div>
    <a class="btn btn-primary" href="{% url 'weather:index' %}">weather</a>
  </div>
  
</div>
<!-- /.col-md-4 -->

<!-- /.row -->

<!-- Call to Action Well -->
<div  style="background-color: #02203c;" class="card text-white  my-5 py-4 text-center">
<div class="card-body">
  <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
</div>
</div>

<!-- Content Row -->
<div class="row">
<div class="col-md-4 mb-5">
  <div class="card h-100">
    <div class="card-body">
      <h2 class="card-title">To Do App</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
    </div>
    <div class="card-footer">
      <a href="/todo" class="btn btn-primary btn-sm">More Info</a>
    </div>
  </div>
</div>
<!-- /.col-md-4 -->
<div class="col-md-4 mb-5">
  <div class="card h-100">
    <div class="card-body">
      <h2 class="card-title">GPA Calculator</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary btn-sm">More Info</a>
    </div>
  </div>
</div>
<!-- /.col-md-4 -->
<div class="col-md-4 mb-5">
  <div class="card h-100">
    <div class="card-body">
      <h2 class="card-title">Calendar</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary btn-sm">More Info</a>
    </div>
  </div>
</div>
<!-- /.col-md-4 -->

</div>
<!-- /.row -->
{% endblock main %}