body {
    height: 100%;
    background-color: #28a745;
    font-family: Helvetica;
    color:black
}
footer{
  background-color: #02203c; 
  color: #fff;
}
.navbar-custom { 
  height: 100%;
  background-color: #02203c; 
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} 
.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}
#wrapper {
	margin-top: 10% !important;
}
.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }

#content {
	background: beige;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.list-group-item {
	color: black;
}
