body {
  height: 100%;
  background-color: white;
  font-family: Helvetica;
  color:black
}
footer{
background-color: #02203c; 
color: #fff;
}
.navbar-custom { 
height: 100%;
background-color: #02203c; 
color: #fff;
text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} 
.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}